[submodule "common"]
	path = common
	url = git@github.com:nuke-build/nuke.git
[submodule "azure"]
	path = azure
	url = git@github.com:nuke-build/azure
[submodule "nswag"]
	path = nswag
	url = git@github.com:nuke-build/nswag
[submodule "docker"]
	path = docker
	url = git@github.com:nuke-build/docker
[submodule "azure-keyvault"]
	path = azure-keyvault
	url = git@github.com:nuke-build/azure-keyvault
